@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Nanum+Pen+Script&family=Outfit:wght@100..900&family=Playwrite+US+Trad:wght@100..400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-logo: 'Aoboshi One', sans-serif;
  --font-logo-sub: 'Nanum Pen Script', sans-serif;
  --font-title: 'Outfit', sans-serif;
  --font-title-alt: 'Playwrite US Trad', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'NATS-Regular';
  src: url('../Fonts/NATS-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-black: #080e14;
  --color-grey: #6f7c81;
  --color-light-brown: #a8a39f;
  --color-cream: #eaddd0;
  --color-white: #fefefe;
  --color-light-orange: #feb45d;
  --color-salmon: #fb6e63;
  --color-light-salmon: #fb6d6348;
  --color-teal: #70a8b4;
  --color-creamy: #f9f5f0;

  background-color: var(--color-creamy);

  font-family: var(--font-body);
}